@model Ad

@if (Model == null)
{
    <div class="row justify-content-center text-center">
        <div class="col alert alert-danger">
            No ad with this ID
        </div>
    </div>
}
else
{
    <div class="row">
        <h1 class="col">@Model.Title</h1>
        <span class="col-3">@Model.Price €</span>
    </div>
    <div class="row">
        <span class="col">
            @Model.Description
        </span>
    </div>
}