@model List<Ad>


<section class="row m-1">
    <form class="col" asp-controller="Ad" asp-action="SubmitSearch" method="post">
        <div class="row justify-content-center m-1">
            <input type="text" name="search" placeholder="Search..." class="col-6 form-control p-1" />
            <button type="submit" class="col-2 btn btn-primary">Rechercher</button>
        </div>
    </form>
</section>

<section>
    @if (Model != null)
    {
        <div>
            @if (Model.Count == 0)
            {
                <div class="row justify-content-center text-center">
                    <div class="col alert alert-danger">
                        No ad available
                    </div>
                </div>
            }
            else
            {
                @foreach (Ad a in Model)
                {

                    <a class="row" asp-action="Detail" asp-controller="Ad" asp-route-id="@a.Id">
                        <div class="col-2">
                            <img src="~/@a.Images[0].Url" width="200px" />
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <h2 class="col-10">
                                    @a.Title
                                </h2>
                                <span class="col-2">
                                    @a.Price €
                                </span>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @a.Description
                                </div>
                            </div>
                        </div>
                    </a>
                }
            }
        </div>
    }
</section>